@font-face {
  font-family: "Miso";
  src: url("fonts/miso.woff") format("woff");
}
:root {
  --unit: 4px;
  --color-panel: #333333;
  --color-panel-highlighted: #494949; /* panel, 20% ljusare */
  --color-panel-shaded: #212121; /* panel, 20% mörkare */
  --color-border: black;
  --gradient-sheen: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  font: inherit;
  color: inherit;
}
body {
  overflow: hidden;
  background: #051e06;
  font-family: "Miso", sans-serif;
  font-size: 14px;
  color: #d6ffd8;
  letter-spacing: 1px;
}
.canvas-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  image-rendering: pixelated;
}
.canvas-panel {
  position: absolute;
  display: none;
  background: transparent;
  z-index: 3;
}
.canvas-panel canvas {
  display: block;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}
body.editing .canvas-panel {
  display: block;
}
.edit-panel {
  position: absolute;
  display: none;
  flex-direction: column;
  gap: calc(var(--unit) * 2);
  width: 112px;
  padding: calc(var(--unit) * 2);
  background: var(--color-panel);
  border: 1px solid var(--color-border);
  border-radius: calc(var(--unit) * 6);
  z-index: 3;
}
body.editing .edit-panel {
  display: flex;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 0 calc(var(--unit) * 4);
  background-color: #0a3d0c;
  background-image: var(--gradient-sheen);
  border: 1px solid #2f8a34;
  border-radius: calc(var(--unit) * 4);
  cursor: pointer;
}
.button:hover,
.button:active {
  filter: brightness(80%);
}
.button--delete {
  background-color: #4f0f0f;
  border-color: var(--color-border);
}
.range-controller {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.diode-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.diode {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: black;
}
.diode--on {
  background: #00ff00;
}
.divider {
  height: 0;
  border-top: 1px solid var(--color-panel-shaded);
  border-bottom: 1px solid var(--color-panel-highlighted);
}
.plus-minus-button {
  position: relative;
  display: flex;
  height: 32px;
  border-radius: calc(var(--unit) * 4);
  border: 1px solid var(--color-border);
  overflow: hidden;
  background-color: var(--color-panel);
  background-image: var(--gradient-sheen);
}
.plus-minus-button:has(.plus-minus-button-decrease:hover),
.plus-minus-button:has(.plus-minus-button-decrease:active) {
  background-image:
    var(--gradient-sheen),
    linear-gradient(to right, var(--color-panel-shaded), var(--color-panel-highlighted));
}
.plus-minus-button:has(.plus-minus-button-increase:hover),
.plus-minus-button:has(.plus-minus-button-increase:active) {
  background-image:
    var(--gradient-sheen),
    linear-gradient(to right, var(--color-panel-highlighted), var(--color-panel-shaded));
}
.plus-minus-button-decrease,
.plus-minus-button-increase {
  flex: 1;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}
.plus-minus-button-decrease {
  justify-content: flex-start;
}
.plus-minus-button-increase {
  justify-content: flex-end;
}
.plus-minus-symbol {
  font-size: 28px;
  line-height: 1;
  padding: 2px;
  position: relative;
  top: 2px;
}
.plus-minus-symbol--decrease {
  padding-left: 10px;
}
.plus-minus-symbol--increase {
  padding-right: 10px;
}
.plus-minus-button-label {
  position: absolute;
  top: calc(50% + 2px);
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  text-transform: uppercase;
}
.rotation-control {
  display: flex;
  justify-content: space-between;
}
.button--small {
  width: 32px;
  padding: 0;
  font-size: 24px;
  background-color: var(--color-panel);
  border-color: var(--color-border);
}
.edit-panel-button-label {
  position: relative;
  top: 2px;
  text-transform: uppercase;
}
.rotation-control .edit-panel-button-label {
  top: -2px;
}
#tools-panel {
  left: calc(
    (var(--grid-origin-x) - var(--dot-spacing) - var(--panel-width) - var(--dot-cc)) * 1px
  );
  top: calc(var(--grid-origin-y) * 1px);
  width: calc(var(--panel-width) * 1px);
  height: calc(var(--grid-size) * 1px);
}
#tile-edit-panel {
  left: calc((var(--grid-origin-x) + var(--grid-size) + var(--dot-spacing) + var(--dot-cc)) * 1px);
  top: calc(var(--grid-origin-y) * 1px);
}
#copy-button {
  position: absolute;
  display: none;
  top: 20px;
  right: 20px;
  z-index: 3;
  text-transform: uppercase;
}
body.editing #copy-button {
  display: block;
}
@media (max-width: 700px) {
  #tools-panel {
    left: calc(var(--grid-origin-x) * 1px);
    top: calc((var(--grid-origin-y) - var(--dot-spacing) - var(--panel-width)) * 1px);
    width: calc(var(--grid-size) * 1px);
    height: calc(var(--panel-width) * 1px);
  }
  #tile-edit-panel {
    left: calc(var(--grid-origin-x) * 1px);
    top: calc((var(--grid-origin-y) + var(--grid-size) + var(--dot-spacing)) * 1px);
  }
}
